=======
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# other non-macos stuff
-icons/
*.mp4
*.raw
*.avif
.FuturePack/
pridepack-dev.zip
assets/minecraft/textures/entity/axolotl/axolotl_cyan.png
assets/minecraft/textures/gui/title/background/NEWpanorama-1.png
/.idea/
pridepack-4.20.zip
/assets/minecraft/textures/entity/fox/assets/
assets/minecraft/textures/entity/fox/fox_.png
assets/minecraft/textures/entity/fox/fox.pdn
assets/minecraft/textures/entity/fox/fox_sleep_.png
assets/minecraft/textures/entity/fox/snow_fox_.png
assets/minecraft/textures/entity/fox/snow_fox_sleep_.png
*.pdn
*.xcf
pridepack-5.0-dev.zip
pridepack-5.0-dev.zip_bruh
