name: Upload translated strings

on:
    workflow_dispatch: # PLEASE DO NOT MAKE IT AUTOMATED --KTrain

jobs:
    upload-translations:
        name: Upload translated strings
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Upload translations
              uses: crowdin/github-action@v2.2.0
              with:
                upload_translations: true
                import_eq_suggestions: false
                download_sources: false
                download_translations: false
              env:
                CROWDIN_PROJECT_ID: ${{ secrets.CROWIN_PROJECT_ID }}
                CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_TOKEN_THING }}
